body {
    box-sizing: border-box;
}

body, html, #root {
    height: 100%;
}

.woocommerce-Price-amount {
    display: flex;
    justify-content: flex-start;
}

ins {
    text-decoration: none;
}

.woocommerce-Price-currencySymbol::after {
    content: ".";
    color: transparent;
}

.main-page {
    background-image: url('images/bg.jpg');
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
}